<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="p-inputgroup">
    <span class="p-inputgroup-addon"><i class="pi pi-search"></i></span>
    <input #search type="text" pInputText placeholder="Search" formControlName="search" />
    <button type="button" pButton pRipple icon="pi pi-times" styleClass="p-button-danger" [disabled]="loadingResult"
      (click)="clearValue()"></button>
  </div>
</form>

<p-table [value]="searchResult" [loading]="loadingResult">
  <ng-template pTemplate="body" let-data>
    <tr>
      <td><img [src]=data.avatar></td>
      <td>{{data.email}}</td>
      <td>{{data.first_name}}</td>
      <td>{{data.last_name}}</td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td *ngIf="!error">
        Aucun resultat
      </td>
      <td *ngIf="error">
        {{error}}
      </td>
    </tr>
  </ng-template>
</p-table>